<h1 class="display-3 text-center"  *ngIf="selectedUser">
  {{selectedUser.firstName}}  {{selectedUser.lastName}} & {{selectedUser.pName}}
</h1>
<p class="text-center"  *ngIf="selectedUser">
      {{selectedUser.obredD | date:'longDate'}}
</p>
<div class="row justify-content-center">
<div class="table-responsive col-md-3">
    <table class=" table">
        <thead>
          <tr>
            <th scope="col">Preostalo za napraviti</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-danger">
              Obred:
          </tr>
          <tr>
            <td (click)="mBurme(false)" scope="col" *ngIf="selectedUser && selectedUser.burme"> Burme</td>
          </tr>
          <tr>
              <td (click)="mMaticar(false)" *ngIf="selectedUser && selectedUser.maticar"> Matičar</td>
          </tr>
          <tr>
              <td (click)="mCrkva(false)" *ngIf="selectedUser && selectedUser.crkva"> Crkva</td>
          </tr>
          <tr>
              <td (click)="mPjevaci(false)" *ngIf="selectedUser && selectedUser.pjevaci">Pjevači/svirači na obredu</td>
          </tr>
          <tr class="table-danger">
              Mladenka:
            </tr>
          <tr>
            <td (click)="mBuket(false)"*ngIf="selectedUser && selectedUser.buket"> Buket</td>
          </tr>
          <tr>
              <td (click)="mVjencanica(false)" *ngIf="selectedUser && selectedUser.vjencanica"> Vjenčanica</td>
          </tr>
          <tr>
              <td (click)="mCipeleMlada(false)" *ngIf="selectedUser && selectedUser.cipeleMlada">Cipele</td>
          </tr>
          <tr>
              <td (click)="mSminka(false)" *ngIf="selectedUser && selectedUser.sminka">Šminka</td>
          </tr>
          <tr>
              <td (click)="mFrizura(false)" *ngIf="selectedUser && selectedUser.frizura">Frizura</td>
          </tr>
    
          <tr class="table-danger">
              Mladoženja:
          </tr>
          <tr>
            <td (click)="mOdijelo(false)" *ngIf="selectedUser && selectedUser.odijelo"> Odijelo</td>
          </tr>
          <tr>
              <td (click)="mcipeleMladoz(false)"*ngIf="selectedUser && selectedUser.cipeleMladoz">Cipele</td>
          </tr>
          <tr class="table-danger">
              Kod kuće:
           </tr>
           <tr>
             <td (click)="mhrana(false)" *ngIf="selectedUser && selectedUser.hrana"> Hrana kod kuće/Catering</td>
           </tr>
           <tr>
               <td (click)="mSviraci(false)" *ngIf="selectedUser && selectedUser.sviraci">Svirači za pratnju</td>
           </tr>
           <tr>
              <td (click)="mDekoracije(false)" *ngIf="selectedUser && selectedUser.dekoracije">Dekoracije</td>
          </tr>
          <tr class="table-danger">
             Svečana večera:
          </tr>
          <tr>
            <td (click)="mSala(false)" *ngIf="selectedUser && selectedUser.sala"> Sala/restoran</td>
          </tr>
          <tr>
              <td (click)="mBend(false)"*ngIf="selectedUser && selectedUser.bend">Bend/DJ</td>
          </tr>
          <tr class="table-danger">
              Ostalo:
           </tr>
           <tr>
             <td  (click)="mReveri(false)" *ngIf="selectedUser && selectedUser.reveri">Reveri</td>
           </tr>
           <tr>
               <td (click)="mPozivnice(false)" *ngIf="selectedUser && selectedUser.pozivnice">Pozivnice</td>
           </tr>
           <tr>
              <td (click)="mZahvalnice(false)"*ngIf="selectedUser && selectedUser.zahvalnice">Zahvalnice</td>
          </tr>
          
          
        </tbody>
      </table>
</div>
<div class="table-responsive col-md-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Napravljeno</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
              Obred:
          </tr>
          <tr>
            <td (click)="mBurme(true)" scope="col" *ngIf="selectedUser && selectedUser.burme == false"> Burme</td>
          </tr>
          <tr>
              <td (click)="mMaticar(true)" *ngIf="selectedUser && selectedUser.maticar== false"> Matičar</td>
          </tr>
          <tr>
              <td (click)="mCrkva(true)" *ngIf="selectedUser && selectedUser.crkva == false"> Crkva</td>
          </tr>
          <tr>
              <td (click)="mPjevaci(true)" *ngIf="selectedUser && selectedUser.pjevaci == false">Pjevači/svirači na obredu</td>
          </tr>
          <tr class="table-success">
              Mladenka:
            </tr>
          <tr>
            <td (click)="mBuket(true)" *ngIf="selectedUser && selectedUser.buket == false"> Buket</td>
          </tr>
          <tr>
              <td (click)="mVjencanica(true)" *ngIf="selectedUser && selectedUser.vjencanica == false"> Vjenčanica</td>
          </tr>
          <tr>
              <td (click)="mCipeleMlada(true)" *ngIf="selectedUser && selectedUser.cipeleMlada == false">Cipele</td>
          </tr>
          <tr>
              <td (click)="mSminka(true)" *ngIf="selectedUser && selectedUser.sminka == false">Šminka</td>
          </tr>
          <tr>
              <td (click)="mFrizura(true)" *ngIf="selectedUser && selectedUser.frizura == false">Frizura</td>
          </tr>
    
          <tr class="table-success">
              Mladoženja:
          </tr>
          <tr>
            <td (click)="mOdijelo(true)" *ngIf="selectedUser && selectedUser.odijelo == false"> Odijelo</td>
          </tr>
          <tr>
              <td (click)="mcipeleMladoz(true)" *ngIf="selectedUser && selectedUser.cipeleMladoz == false">Cipele</td>
          </tr>
          <tr class="table-success">
              Kod kuće:
           </tr>
           <tr>
             <td  (click)="mhrana(true)" *ngIf="selectedUser && selectedUser.hrana == false"> Hrana kod kuće/Catering</td>
           </tr>
           <tr>
               <td (click)="mSviraci(true)" *ngIf="selectedUser && selectedUser.sviraci  == false ">Svirači za pratnju</td>
           </tr>
           <tr>
              <td (click)="mDekoracije(true)" *ngIf="selectedUser && selectedUser.dekoracije  == false">Dekoracije</td>
          </tr>
          <tr class="table-success">
             Svečana večera:
          </tr>
          <tr>
            <td (click)="mSala(true)" *ngIf="selectedUser && selectedUser.sala  == false"> Sala/restoran</td>
          </tr>
          <tr>
              <td (click)="mBend(true)" *ngIf="selectedUser && selectedUser.bend  == false">Bend/DJ</td>
          </tr>
          <tr class="table-success">
              Ostalo:
           </tr>
           <tr>
             <td (click)="mReveri(true)" *ngIf="selectedUser && selectedUser.reveri  == false">Reveri</td>
           </tr>
           <tr>
               <td (click)="mPozivnice(true)" *ngIf="selectedUser && selectedUser.pozivnice  == false">Pozivnice</td>
           </tr>
           <tr>
              <td (click)="mZahvalnice(true)" *ngIf="selectedUser && selectedUser.zahvalnice  == false">Zahvalnice</td>
          </tr>
          
          
        </tbody>
      </table>
</div>

</div>
