<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
        <div class="bg-dark text-white card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
                <div class="form-group">
                    <label for="">Korisničko ime</label>
                    <input [(ngModel)]="loginUserData.userName" id="userName" name="userName" type="text" class="form-control rounded-0" required>
                </div>
               
            <div class="form-group">
                <label for="">Lozinka</label>
                <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>

            </div>
            
            <button (click)="loginUser()" type="button" class="btn btn-success float-right">Login</button>
          </div>
          </form>
        </div>
    </div>  
  </div>
</div>