<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
        <div class="bg-dark text-white card-header">
          <h3 class="mb-0">Registracija</h3>
        </div>
        <div class="card-body">
          <form #userForm="ngForm" name="myForm" class="form" ng-controller="ExampleController">
            <div class="form-group">
                <div class="form-group">
                    <label class="text-primary " for="">Ime</label>
                    <input [(ngModel)]="registerUserData.firstName" name="firstName"  type="text" class="form-control" placeholder="Unesite ime" required>
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['firstName']?.valid && this.userForm.controls['firstName']?.touched">Unesite ime!</small> 
                </div>
                <div class="form-group">
                    <label class="text-primary" for="">Prezime</label>
                    <input [(ngModel)]="registerUserData.lastName" name="lastName" type="text" class="form-control" placeholder="Unesite prezime" required>
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['lastName']?.valid && this.userForm.controls['lastName']?.touched">Unesite prezime!</small> 

                </div>
                <div class="form-group">
                    <label class="text-primary" for="">Korisničko ime</label>
                    <input [(ngModel)]="registerUserData.userName" name="userName" type="text" class="form-control" placeholder="Unesite korisničko ime" required>
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['userName']?.valid && this.userForm.controls['userName']?.touched">Unesite korisničko ime!</small> 

                </div>
                <div>
                    <label class="text-primary" for="">Email</label>
                    <input [(ngModel)]="registerUserData.email" name="email" type="email"  class="form-control" placeholder="Unesite email" required email>
                    <small class="form-text text-danger" *ngIf="this.userForm.controls['email']?.touched && !this.userForm.controls['email']?.dirty">Unesite email!</small>  
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['email']?.valid && this.userForm.controls['email']?.dirty">Unesite ispravan email!</small>                            
                </div>
            
              
                <div class="form-group">
                    <label class="text-primary" for="">Lozinka</label>
                    <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control" placeholder="Unesite lozinku" required>
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['password']?.valid && this.userForm.controls['password']?.touched">Unesite lozinku!</small>                        
                </div>
                <div class="form-group">
                    <label class="text-primary" for="">Potvrdite lozinku</label>
                    <input [(ngModel)]="registerUserData.cpassword" name="cpassword" type="password" class="form-control" placeholder="Ponovno unesite lozinku" required>
                    <small class="form-text text-danger" *ngIf="!this.userForm.controls['cpassword']?.valid && this.userForm.controls['cpassword']?.touched">Potvrdite lozinku!</small>
                    <small class="form-text text-danger" *ngIf="this.userForm.controls['cpassword']?.dirty && this.userForm.controls['password']?.value != this.userForm.controls['cpassword']?.value">Please re-type the same password</small> 
                </div>
                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Kreiranje profila
                </button>
                <div class="form-group collapse"  id="collapseExample">
                    <div >
                        <label class="text-success" for="">Supružnik</label>
                        <input [(ngModel)]="registerUserData.pName" name="pName" type="text" class="form-control" placeholder="Unesite ime i prezime supružnika" required>
                    </div>
                    <div>
                            <label class="text-success" for="">Budžet</label>
                            <input [(ngModel)]="registerUserData.budzet" name="budzet" type="number" class="form-control" placeholder="Okviran budžet" required>
                    </div>
                    <div>
                            <label class="text-success" for="">Datum obreda</label>
                            <input [(ngModel)]="registerUserData.obredD" name="datum" type="date" class="form-control" required>
                    </div>
                    <div >
                        <p> Sa sljedećeg popisa odaberite stavke koje želite imati na svom vjenčanju:</p>
                        <p class="text-success">Obred:</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="burme"  [(ngModel)]="registerUserData.burme">Burme</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="maticar" [(ngModel)]="registerUserData.maticar">Matičar</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="crkva"  [(ngModel)]="registerUserData.crkva">Crkva</label> <br> 
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="pjevaci"  [(ngModel)]="registerUserData.pjevaci">Pjevači/svirači u crkvi</label> <br>
                        <p class="text-success">Mladenka:</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="buket"  [(ngModel)]="registerUserData.buket">Vjenčani buket</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="vjencanica" [(ngModel)]="registerUserData.vjencanica">Vjenčanica</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="cipeleMlada"  [(ngModel)]="registerUserData.cipeleMlada">Cipele</label> <br> 
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="sminka" [(ngModel)]="registerUserData.sminka">Šminka</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="frizura"  [(ngModel)]="registerUserData.frizura">Frizura</label>
                        <p class="text-success">Mladoženja:</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="odijelo"  [(ngModel)]="registerUserData.odijelo">Odijelo</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="cipeleMladoz"  [(ngModel)]="registerUserData.cipeleMladoz">Cipele</label>
                        <p class="text-success">Kod kuće</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="hrana"  [(ngModel)]="registerUserData.hrana">Hrana/Catering</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="sviraci"  [(ngModel)]="registerUserData.sviraci">Svirači za pratnju</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="dekoracije"  [(ngModel)]="registerUserData.dekoracije">Dekoracije</label> 
 
                        <p class="text-success">Svečana večera</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="sala" [(ngModel)]="registerUserData.sala">Sala/Restoran</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="bend"  [(ngModel)]="registerUserData.bend">Glazba (band/DJ)</label> 
                        <p class="text-success">Ostalo</p>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="reveri"  [(ngModel)]="registerUserData.reveri">Reveri</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="pozivnice"  [(ngModel)]="registerUserData.pozivnice">Pozivnice</label> <br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="zahvalnice"  [(ngModel)]="registerUserData.zahvalnice">Zahvalnice</label><br>
                        <label class="ml-4" for=""><input class=" form-check-input" type="checkbox" name="fotografi"  [(ngModel)]="registerUserData.fotografi">Fotografi</label><br>

                        


                    </div>
                </div>
                <button [disabled]="userForm.form.invalid" (click)="registerUser()" type="button" class="btn btn-primary float-right">Registracija</button>
          </div>
          </form>
        </div>
    </div>  
  </div>
</div>
